
.image_war {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 47px;
}
.title-start {
    height: 37px;
    /*width: 652px;*/
    color: #000000;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    line-height: 37px;
    margin-bottom: 59px;
    margin-top: 16px;
    text-align: center;
}

.title-second {
    height: 100px;
    /*width: 548px;*/
    color: #000000;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 25px;
    /*text-align: center;*/
}

.title-second p {
    display: inline;
}

.title-third {
    height: 38px;
    /*width: 548px;*/
    color: #000000;
    font-family: Montserrat;
    font-size: 15px;
    line-height: 19px;
    /*text-align: center;*/
    margin-top: 48px;
    margin-bottom: 112px;
}

/*.input-num {
    height: 66px;
    width: 374px;
    border: 2px solid #7ED321;
    border-radius: 10px;
    float: left;
    !*outline: none;*!
}*/

.input {
    height: 66px;
    width: 374px;
    border: 2px solid #7ED321;
    border-radius: 10px;
    /*float: left;*/
    outline: none;
}

.button {
    height: 66px;
    width: 199px;
    border-radius: 10px;
    background-color: #7ED321;
    /*float: left;*/
    margin-left: 20px;

    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.13px;
    line-height: 22px;
}

/*#startBtn:active {*/
/*box-shadow: 0 3px 0 #00823F;*/
/*top: 3px;*/
/*}*/

.button,
.button:active,
.button:focus {
    outline: none;
}

::-webkit-input-placeholder {
    text-align:center;
}

.help {
    height: 21px;
    /*width: 810px;*/
    color: #64A918;
    font-family: Montserrat;
    font-size: 13px;
    line-height: 21px;
    margin-top: 5px;
    /*margin-left: 25px;*/
    text-align: center;
}

.see-num {
    height: 21px;
    /*width: 228px;*/
    color: #000000;
    font-family: Montserrat;
    font-size: 13px;
    line-height: 21px;
    margin-top: 39px;
    text-align: center;
    padding-bottom: 43.3%;
}

.bot-text {
    height: 29px;
    /*width: 422px;*/
    color: #000000;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 29px;
    /*margin-top: 10px;*/
}

.merg-text {
    margin-top: 130px;
}

.bot-text2 {
    height: 48px;
    /*width: 422px;*/
    color: #9B9B9B;
    font-family: Montserrat;
    font-size: 13px;
    line-height: 16px;
    margin-top: 6px;
}

.bot-img {
    float: left;
    margin-right: 20px;
    margin-top: 13px;

}

/*.bot-img, .bot-text {
    display: inline-block;
}*/

.inline {
    display: inline-block;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
row {
    width: 100%;
}

.row-mid {
    margin-top: 131px;
    width: 100%;
}
.flex-item {

    padding: 5px;
    /*width: 200px;*/
    /*height: 150px;*/
    /*margin: 10px;*/
    line-height: 150px;
    /*color: white;*/
    /*font-weight: bold;*/
    /*font-size: 3em;*/
    text-align: left;
}